haval-h6-mqtt/files/nodered_flow_Haval.json
[{"id":"f5f0d40659a67c8d","type":"tab","label":"Haval","disabled":false,"info":"","env":[]},{"id":"20a26494ec6f787a","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"A bateria do carro está abaixo de 85% ({estado}). Verifique se está ligado ou se há algo conectado ao carro drenando a bateria.\",\"title\":\"Bateria Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":1040,"y":740,"wires":[[]]},{"id":"daea46899221dc0a","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"A pressão de um ou mais pneus está abaixo de 35psi. Verifique e calibre os pneus.\",\"title\":\"Pressão dos Pneus Baixa - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":1040,"y":880,"wires":[[]]},{"id":"fc13a01c13fde4eb","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.gwmbrasil_{chassis}_vidro_dianteiro_direito","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"vidro","propertyType":"msg","value":"vidro dianteiro direito","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1210,"y":80,"wires":[["c6d4304873f3139e"],[]]},{"id":"cd6ebee0d74ea05f","type":"comment","z":"f5f0d40659a67c8d","name":"Vidros","info":"","x":990,"y":40,"wires":[]},{"id":"9d92b3493a82f800","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.gwmbrasil_{chassis}_vidro_dianteiro_esquerdo","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"vidro","propertyType":"msg","value":"vidro dianteiro esquerdo","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1220,"y":140,"wires":[["c6d4304873f3139e","23ce4872d2978f80"],[]]},{"id":"379a3e060d028cf2","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.gwmbrasil_{chassis}_vidro_traseiro_direito","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"vidro","propertyType":"msg","value":"vidro traseiro direito","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":200,"wires":[["c6d4304873f3139e","23ce4872d2978f80"],[]]},{"id":"921a070d90af15f5","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.gwmbrasil_{chassis}_vidro_traseiro_esquerdo","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"vidro","propertyType":"msg","value":"vidro traseiro esquerdo","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1210,"y":260,"wires":[["c6d4304873f3139e"],[]]},{"id":"c6d4304873f3139e","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"O {{vidro}} está aberto com o carro desligado. Verifique.\",\"title\":\"Vidro aberto - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":1680,"y":200,"wires":[[]]},{"id":"23bc365cb0a336b2","type":"comment","z":"f5f0d40659a67c8d","name":"Bateria","info":"","x":110,"y":740,"wires":[]},{"id":"2bf7bd2dcc21d959","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"3","halt_if_type":"num","halt_if_compare":"is_not","entity_id":"sensor.gwmbrasil_{chassis}_posicao_do_teto_solar","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"vidro","propertyType":"msg","value":"teto solar","valueType":"str"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1210,"y":320,"wires":[["c6d4304873f3139e"],[]]},{"id":"177a533a97ada6c3","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"75","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.gwmbrasil_{chassis}_estado_de_carga_12v","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"estado","propertyType":"msg","value":"","valueType":"entityState"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":740,"wires":[["20a26494ec6f787a","e768cb29b37dcb9b"],[]]},{"id":"f7b2b063545d96d8","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"33","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.gwmbrasil_{chassis}_pressao_do_pneu_dianteiro_direito","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":800,"wires":[["daea46899221dc0a"],[]]},{"id":"49faa11e656ec238","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"33","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.gwmbrasil_{chassis}_pressao_do_pneu_dianteiro_esquerdo","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":860,"wires":[["daea46899221dc0a"],[]]},{"id":"94abf092d83675bf","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"33","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.gwmbrasil_{chassis}_pressao_do_pneu_traseiro_direito","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":920,"wires":[["daea46899221dc0a"],[]]},{"id":"30a7e658f9087c70","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"33","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.gwmbrasil_{chassis}_pressao_do_pneu_traseiro_esquerdo","state_type":"num","blockInputOverrides":false,"outputProperties":[],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":620,"y":980,"wires":[["daea46899221dc0a"],[]]},{"id":"b19e8672cc5b8ed6","type":"comment","z":"f5f0d40659a67c8d","name":"Pneus","info":"","x":110,"y":800,"wires":[]},{"id":"fd9048e05ee11124","type":"time-inject","z":"f5f0d40659a67c8d","name":"","nameInt":"¹$!{lblInject}! ↻15min","positionConfig":"c9794f81.3f263","props":[],"injectTypeSelect":"interval","intervalCount":"15","intervalCountType":"num","intervalCountMultiplier":60000,"cron":"","cronType":"cronexpr","time":"08:00","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"22:00","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"1,2,3,4,5","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltOnlyOddWeeks":false,"timeAltOnlyEvenWeeks":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":true,"onceDelay":"30","recalcTime":2,"x":140,"y":680,"wires":[["177a533a97ada6c3","f7b2b063545d96d8","49faa11e656ec238","94abf092d83675bf","30a7e658f9087c70"]]},{"id":"7d5ab2beb7ad000d","type":"time-inject","z":"f5f0d40659a67c8d","name":"","nameInt":"¹$!{lblInject}! ↻15min","positionConfig":"c9794f81.3f263","props":[],"injectTypeSelect":"interval","intervalCount":"15","intervalCountType":"num","intervalCountMultiplier":60000,"cron":"","cronType":"cronexpr","time":"08:00","timeType":"entered","offset":0,"offsetType":"none","offsetMultiplier":60000,"timeEnd":"22:00","timeEndType":"entered","timeEndOffset":0,"timeEndOffsetType":"none","timeEndOffsetMultiplier":60000,"timeDays":"1,2,3,4,5","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","property":"","propertyType":"none","propertyCompare":"true","propertyThreshold":"","propertyThresholdType":"num","timeAlt":"","timeAltType":"entered","timeAltDays":"*","timeAltOnlyOddDays":false,"timeAltOnlyEvenDays":false,"timeAltOnlyOddWeeks":false,"timeAltOnlyEvenWeeks":false,"timeAltMonths":"*","timeAltOffset":0,"timeAltOffsetType":"none","timeAltOffsetMultiplier":60000,"once":true,"onceDelay":"30","recalcTime":2,"x":120,"y":220,"wires":[["0ae90d89c1179e68"]]},{"id":"e768cb29b37dcb9b","type":"debug","z":"f5f0d40659a67c8d","name":"Debug.Haval.Bateria","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":800,"wires":[]},{"id":"0ae90d89c1179e68","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"0","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.gwmbrasil_{chassis}_estado_do_motor","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"20","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":220,"wires":[["379a3e060d028cf2","fc13a01c13fde4eb","9d92b3493a82f800","921a070d90af15f5","2bf7bd2dcc21d959","b0efac05bdb832d1","f459b7b6700b853d","985a0466ed9e1b31","cf21030cf69ab5fb","4b7d6632f838c5c7"],[]]},{"id":"a33ebdc214919342","type":"comment","z":"f5f0d40659a67c8d","name":"Reinicia add-on","info":"","x":140,"y":1080,"wires":[]},{"id":"2a4b94f4ee27a93d","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Restart GWM Add-on","server":"721c7b82.c328d4","version":7,"debugenabled":true,"action":"hassio.addon_restart","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"addon\":\"75f659dd_hassio_haval_h6_to_mqtt\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"hassio","service":"addon_restart","x":820,"y":1120,"wires":[["4107ac683edf28b1"]]},{"id":"4107ac683edf28b1","type":"debug","z":"f5f0d40659a67c8d","name":"Debug.Addon.Restart","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1060,"y":1120,"wires":[]},{"id":"81318b155f882b69","type":"inject","z":"f5f0d40659a67c8d","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":610,"y":1060,"wires":[["2a4b94f4ee27a93d"]]},{"id":"12745614f85e9bf2","type":"delay","z":"f5f0d40659a67c8d","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":600,"y":1120,"wires":[["2a4b94f4ee27a93d"]]},{"id":"63c48da54f50e422","type":"server-events","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"exposeAsEntityConfig":"","eventType":"home_assistant_client","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":180,"y":1120,"wires":[["b6227dd106d0b067"]]},{"id":"b6227dd106d0b067","type":"switch","z":"f5f0d40659a67c8d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":1120,"wires":[["12745614f85e9bf2"]]},{"id":"ad429c58a23aa907","type":"server-state-changed","z":"f5f0d40659a67c8d","name":"Estado da Carga","server":"721c7b82.c328d4","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.gwmbrasil_{chassis}_estado_da_carga"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"3","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1240,"wires":[["b3f22948294a7d96","8a9fbbc8fb9586c4"],[]]},{"id":"b3f22948294a7d96","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"Carregamento finalizado. Finalize no aplicativo ou tire o cabo do carregador.\",\"title\":\"Carregamento finalizado!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":360,"y":1200,"wires":[[]]},{"id":"8a9fbbc8fb9586c4","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Carona","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_carona","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"Carregamento finalizado. Finalize no aplicativo ou tire o cabo do carregador.\",\"title\":\"Carregamento finalizado!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_carona","x":360,"y":1260,"wires":[[]]},{"id":"b0efac05bdb832d1","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gwmbrasil_{chassis}_porta_dianteira_direita","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"porta","propertyType":"msg","value":"A porta dianteira direita","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1230,"y":420,"wires":[["a138c36999055931","8652d39d2993c888"],[]]},{"id":"13e94f64b2aecfd0","type":"comment","z":"f5f0d40659a67c8d","name":"Portas","info":"","x":990,"y":380,"wires":[]},{"id":"f459b7b6700b853d","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gwmbrasil_{chassis}_porta_dianteira_esquerda","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"porta","propertyType":"msg","value":"A porta dianteira esquerda","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1240,"y":480,"wires":[["a138c36999055931","8652d39d2993c888"],[]]},{"id":"985a0466ed9e1b31","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gwmbrasil_{chassis}_porta_traseira_direita","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"porta","propertyType":"msg","value":"A porta traseira direita","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1230,"y":540,"wires":[["a138c36999055931","8652d39d2993c888"],[]]},{"id":"cf21030cf69ab5fb","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gwmbrasil_{chassis}_porta_traseira_esquerda","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"porta","propertyType":"msg","value":"A porta traseira esquerda","valueType":"str"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1240,"y":600,"wires":[["a138c36999055931","8652d39d2993c888"],[]]},{"id":"a138c36999055931","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{porta}} está aberta com o carro desligado. Verifique.\",\"title\":\"Porta aberta - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":1680,"y":480,"wires":[[]]},{"id":"4b7d6632f838c5c7","type":"api-current-state","z":"f5f0d40659a67c8d","name":"","server":"721c7b82.c328d4","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.gwmbrasil_{chassis}_porta_malas","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"porta","propertyType":"msg","value":"O porta-malas","valueType":"str"}],"for":"5","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":660,"wires":[["fac413ec725b873a","be77aeb4cf9179b6"],[]]},{"id":"8652d39d2993c888","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Carona","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_carona","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{porta}} está aberta com o carro desligado. Verifique.\",\"title\":\"Porta aberta - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_carona","x":1680,"y":520,"wires":[[]]},{"id":"fac413ec725b873a","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Proprietário","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_proprietario","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"{{porta}} está aberto com o carro desligado. Verifique.\",\"title\":\"Porta-malas aberto - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_proprietario","x":1680,"y":640,"wires":[[]]},{"id":"be77aeb4cf9179b6","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Carona","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_carona","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"A {{porta}} está aberta com o carro desligado. Verifique.\",\"title\":\"Porta aberta - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_carona","x":1680,"y":680,"wires":[[]]},{"id":"23ce4872d2978f80","type":"api-call-service","z":"f5f0d40659a67c8d","name":"Notify Carona","server":"721c7b82.c328d4","version":7,"debugenabled":false,"action":"notify.mobile_app_carona","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{\"message\":\"O {{vidro}} está aberto com o carro desligado. Verifique.\",\"title\":\"Vidro aberto - Haval!\",\"data\":{\"url\":\"/gwm-brasil/gwm-dashboard\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"notify","service":"mobile_app_carona","x":1680,"y":260,"wires":[[]]},{"id":"721c7b82.c328d4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"c9794f81.3f263","type":"position-config","name":"","isValide":"true","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":"3","stateDateFormat":"12","contextStore":""}]